<body>
    

<div class="loan-simulator">
    <h2>Calculadora de Préstamos</h2>

    <div class="form-group">
        <label for="loanType">Tipo de Préstamo:</label>
        <select id="loanType" [(ngModel)]="loanType">
            <option value="homeValue">Basado en Valor de Vivienda</option>
            <option value="salary">Basado en Salario</option>
        </select>
    </div>

    <div *ngIf="loanType === 'salary'" class="form-group">
        <label for="salary">Ingreso Mensual Bruto:</label>
        <input id="salary" type="number" [(ngModel)]="salary" placeholder="Ingrese su ingreso mensual" />
    </div>

    <div *ngIf="loanType === 'homeValue'" class="form-group">
        <label for="amount">Costo de la Vivienda:</label>
        <input id="amount" type="number" [(ngModel)]="amount" placeholder="Ingrese el costo de la vivienda" />
    </div>

    <div *ngIf="bancos.length > 0">
        <div class="form-group">
            <label for="institution">Selecciona la Institución:</label>
            <select id="institution" [(ngModel)]="institution" (change)="onInstitutionChange()">
                <option *ngFor="let banco of bancos; let i = index" [value]="i">
                   {{ banco.nombre }}
                </option>
            </select>
        </div>
    </div>


    <div *ngIf="bancos[institution]?.anio && bancos[institution].anio.length > 0" class="form-group">
        <label for="loanTerm">Selecciona el Plazo del Préstamo:</label>
        <select id="loanTerm" [(ngModel)]="loanTerm">
            <option *ngFor="let term of bancos[institution].anio" [value]="term">{{ term }} años
            </option>
        </select>
    </div>

    <div class="form-group">
        <button (click)="calculateLoan()">Calcular</button>
    </div>

    <div class="result-info">
        <p *ngIf="loanType === 'salary'">Monto máximo de préstamo estimado según su salario: {{ amountBasedOnSalary |
            currency }}</p>
        <p *ngIf="loanType === 'homeValue'">Monto del préstamo basado en el valor de la vivienda: {{
            amountBasedOnHomeValue | currency }}</p>
        <p *ngIf="loanType === 'homeValue'">Enganche: {{ downPaymentAmount | currency }}</p>
    </div>

    <div *ngIf="amortizationTable.length > 0" class="amortization-table">
        <h3>Tabla de Amortización</h3>
        <div class="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Pago Mensual</th>
                        <th>Interés</th>
                        <th>Capital</th>
                        <th>Saldo Restante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of amortizationTable">
                        <td>{{ row.month }}</td>
                        <td>{{ row.monthlyPayment | currency }}</td>
                        <td>{{ row.interest | currency }}</td>
                        <td>{{ row.capital | currency }}</td>
                        <td>{{ row.balance | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="amortizationTable.length > 0" class="total-payment">
        <h4>Total a Pagar al Final del Préstamo: {{ totalPayment | currency }}</h4>
    </div>

    <!-- Botón para compartir información -->
    <div class="form-group" *ngIf="amortizationTable.length > 0">
        <button (click)="saveData()">Guardar</button>
    </div>
</div>
</body>